
.title {
  font-size: 30px;
  line-height: 60px;
  margin-left: 45px;
  text-transform: uppercase;
  font-weight: 400;
}

.title-block {
  margin-bottom: 48px;
}

.title-line {
  width: 80px;
  height: 2px;
  background: var(--stomping-blue);
  box-shadow: 0px 2px 0px var(--light-blues);
  margin-top: 10px;
}

.background-section{
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Mulish";
}

