:root {
  --white: aliceblue;
  --stomping-blue : #1968fc;
  --light-blue : #6a9eff;
  --light-blues : #d1e1fe;
  --black : #000000;
  --text : 0px 10px 40px rgba(25, 104, 252, 0.2);
  --box : 0px 10px 40px rgba(25, 104, 252, 0.3);
  --boxs: 0px 20px 60px rgba(49, 69, 244, 0.1);
  --drop :0px 20px 60px rgba(25, 104, 252, 0.1);
  --drops : 2px 6px 12px rgba(255, 131, 51, 0.3);
}


