.features{
  margin-top: 120px;
  padding: 0 20px;
}
.features__list {
  display: flex;
  justify-content: space-between;
}

.feature::before {
  content: "";
  position: absolute;
  border-bottom: dashed 2px var(--stomping-blue);
}

.features__header {
  display: flex;
  align-items: center;
  background-color: var(--light-bluess);
}

.features__header-img {
  width: 120px;
  height: 120px;
}

.features__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 80px;
  width: 100%;
  padding-left: 10px;
}

.features__title {
  padding: 20px;
  line-height: 30px;
}

.features__text {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 40px;
}

.features__text {
  padding: 40px;
}

.features__decoration {
  position: absolute;
  bottom: -5px;
  right: -5px;
}

.feature {
  background: var(--white);
  box-shadow: var(--boxs);
  position: relative;
  width: 320px;
  height: 290px;
  margin: 0;
}

.feature:first-child::before {
  display: none;
}

.feature:first-child {
  z-index: 3;
}

.feature:nth-child(2) {
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .features__list {
    flex-wrap: wrap;
  }

 .feature {
    width: 100%;
    height: 210px;
  }

  .feature::before {
    display: none;
  }

  .feature::after {
    content: "";
    position: absolute;
    border-left: dashed 2px var(--stomping-blue);
  }

  .features__header-img {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .features__list {
    flex-wrap: wrap;
  }

  .feature {
    width: 100%;
    height: 210px;
  }

  .feature::before {
    display: none;
  }

  .feature::after {
    content: "";
    position: absolute;
    border-left: dashed 2px var(--stomping-blue);
  }

  .features__header-img {
    width: 80px;
    height: 80px;
  }
}
