.headline {
  position: relative;
}

.headline__content {
  flex-shrink: 0;
}

.headline__title {
  font-weight: 600;
  font-family: "SemiBold";
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
}

.headline__description {
  font-weight: 400;
  font-family: "Regular";
  font-size: 20px;
  line-height: 40px;
}

.headline__upload-btn {
  background: var(--stomping-blue);
  box-shadow: var(--box);
  border: none;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
  font-family: "Bold";
  font-size: 14px;
  line-height: 20px;
  text-shadow: var(--text);
}

.headline__upload-btn:hover {
  cursor: pointer;
  opacity: 0.3;
}

.headline__img {
  position: absolute;
  top: 50px;
}

.headline-description {
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  display: block;
  margin: 30px auto;
}


@media only screen and (min-width: 1024px) {
  .navigation-icon {
    display: none;
  }

  .headline-banner {
    display: none;
  }
  .headline {
    display: flex;
    flex-direction: row;
  }

  .headline__content {
    width: 600px;
  }

  .headline__img {
    width: 599px;
    height: 502px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .headline {
    display: flex;
    flex-direction: column;
  }

  .headline__img {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  .headline {
    display: flex;
    flex-direction: column;
  }

  .headline__title {
    font-size: 40px;
  }

.headline__img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .headline__upload-btn {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 60px;
  }

  .headline-banner {
    background-image: url(/images/mobiles/headlines-moblie/Background.png);
    display: flex;
    width: 100% ;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 200px;
  }
}
