.review {
  flex: 1;
  background: var(--white);
  filter: drop-shadow(var(--drop));
}

.review-owner {
  display: flex;
  justify-content: space-between;
}
.review-wrap {
  display: flex;
}

.review-icon {
  max-width: 100%;
  height: 100%;
}

.review-avatar {
  width: 100px;
  height: 100px;
}

.review-text {
  align-self: center;
}
.review-content {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Regular"
}

.review-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  font-family: "SemiBold"
}

.review-position {
  line-height: 30px;
  font-weight: 600;
  font-family: "SemiBold"
}

.review-position {
  font-size: 14px;
}

/* mobile */
@media only screen and (max-width: 768px) {
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .headline-banner {
    display: none ;
  }
}

/* desktop */
@media only screen and (min-width: 1024px) {
  .review-clients {
    display: flex;
    justify-content:space-between;
  }
}
