.title {
  font-size: 29px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 48px;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 70px;
  left: 0;
  top: 70px;
  border-bottom: solid 2px var(--stomping-blue);
  box-shadow: 0px 2px 0px var(--light-blues);
}
