/* pagenav-start */
.page-header {
  display: flex;
  align-items: center;
  margin-top: 30px; 
}

.page-header__navigation {
  margin-left: auto;
  display: flex;

  justify-content: flex-start;
}

.page-header__upload-btn {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
  border: none;
  color: var(--white);
  margin-left: 20px;
  text-shadow: var(--text);
  background: var(--stomping-blue);
  box-shadow: var(--box);
}

.page-header__upload-btn:hover {
  cursor: pointer;
  opacity: 0.3;
}

.logo {
  display: flex;
  align-items: center;
  }

.logo__img {
  width: 180px;
  height: 50px;
}

.nav-list__item {
  font-size: 14px;
  line-height: 50px;
  color: var(--black);
  flex-shrink: 0;
  display: inline-block;
  padding: 0 30px;
  text-decoration: none;
}

.nav-list__item:hover {
  opacity: 0.3;
}

.navigation-icon{
  width: 30px;
  height: 25px;
  position: relative;
  left: 120px;
}

@media only screen and (min-width: 1024px) {
.navigation-icon {
  display: none;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.page-header__navigation {
  display: none;
}

.page-header__upload-btn {
  display: none;
}
.navigation-icon{
  left: 550px;
}
}

@media only screen and (max-width: 768px) {
.page-header__navigation {
  display: none;
}

.page-header__upload-btn {
  display: none;
}

}
