@media only screen and (min-width: 1024px) {
  .page-header {
    width: 1120px;
  }

  .page-header__navigation {
    width: 540px;
  }

  .page-header__upload-btn {
    width: 180px;
    padding: 0 30px;
  }

  .nav-list__item {
    padding: 0 30px;
  }

  .headline {
    display: flex;
    flex-direction: row;
    width: 1120px;
  }

  .headline__content {
    width: 600px;
  }

  .headline__upload-btn {
    padding: 14px 64px;
  }

  .headline__img {
    width: 599px;
    height: 502px;
    margin-left: 0;
    right: 0;
    top: 50px;
  }

  .review {
    width: 540px;
    padding: 40px;
  }

  .review__photo {
    width: 100px;
    height: 100px;
  }

  .review__name {
    font-size: 18px;
    margin-top: 0px;
  }

  .review__picture {
    width: 80px;
    height: 65px;
  }

  .review__text {
    font-size: 16px;
  }

  .workflow-all-steps {
    display: flex;
    justify-content: space-between;
  }

  .workflow-step {
    width: 320px;
  }

  /* Split layout */
  .workflow-step:first-child {
    margin-top: 0;
  }

  .workflow-step:nth-child(2) {
    margin-top: 40px;
  }

  .workflow-step:nth-child(3) {
    margin-top: 80px;
  }

  .workflow-step__dashed-line{
    position: absolute;
    height: 1px;
    width: 70px;
    top: 70px;
    left: -75px;
  }

  .feature {
    width: 320px;
  }

}
