@media only screen and (max-width: 768px) {
  .title{
    margin-left: 0;
  }

  .page-header{
    width: 80%;
  }

  .page-header__navigation{
    display: none;
  }

  .page-header__upload-btn{
    display: none;
  }

  .headline{
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .headline__content{
    width: 100%;
  }

  .headline__title{
    font-size: 40px;
  }

  .headline__img{
    margin-left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

 .headline__upload-btn{
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 0 60px;
    font-size: 10px;
    line-height: 45px;
  }

  .headline__mobile-info-text {
    background-image: url(../images/mobiles/headlines-moblie/Please-Visit-Desktop-SiteSection-Background.png);
    display: flex;
    width: 100% ;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  .reviews{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .review{
    box-sizing: border-box;
    margin: 0 auto 50px;
    width: 80%;
  }

  .review__main{
    width: 100%;
  }

  .review__photo{
    width: 70px;
    height: 70px;
  }

  .review__picture{
    width: 50px;
    height: 43px;
  }

  .review__main-info{
    align-items: center;
  }

  .review__name{
    font-size: 14px;
    margin-top: 0;
  }

  .review__position{
    font-size: 14px;
  }

  .review__text{
    font-size: 14px;
  }

  .workflow{
    width: 80%;
  }

  .workflow-all-steps{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .workflow-step{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .workflow-step__header{
    display: flex;
    justify-content: space-between;
  }

  .workflow-step__dashed-line{
    content: "";
    position: absolute;
    height: 40px;
    width: 70px;
    border-right: 2px dashed var(--stomping-blue);
    border-top: none;
    top: -40px;
    left: 0;
  }

  .workflow-step:nth-child(3){
    margin-top: 40px;
  }

  .workflow-all-steps{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .features{
    width: 80%;
  }

  .features__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .feature{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .features__text{
    width: 100%;
  }

  .feature:nth-child(3){
    margin-top: 40px;
  }

  .users{
    width: 80%;
  }

  .users__block{
    width: 100%;
  }

  .user{
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .purposes{
    width: 80%;
  }

  .purposes__row{
    flex-direction: column;
  } 

  .purpose{
    width: 100%;
  }

  .consultation{
    width: 100%;
    height: auto;
  }
  .consultation__text{
    width: 80%;
    margin: auto;
  }
  .consultation__title{
    width: 100%;
    box-sizing: border-box;
  }
  .consultation__title-line{
    margin-left: 0;
  }
  .consultation__description{
    width: 100%;
  }
  .consultation__button{
    margin: 0 0 40px 0 ;
  }

  .consultation__img{
    display: none;
  }

  .stories{
    width: 80%;
  }

  .story-card{
    width: 100%;
    margin-bottom: 40px;
  }

  .story-cards{
    flex-direction: column;
  }
}
