@media screen and (min-width: 1025px) {
    .hide-desktop {
      display: none;
    }
  }

  @media screen and (min-width: 357px) and (max-width: 1024px) {
    .hide-mobile {
      display: none;
    }
  }

@media screen and (max-width: 768px){
    .background-section{
        padding-top: 40px;
    }
    .logo{
        margin-left: 60px;
    }
    .page-header__navigation{
        display: none;
    }
    .page-header__upload-btn{
        display: none;
    }
    .headline{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .headline__content{
        width: 60%;
        margin-left: 60px;
    }
    .headline__title{
        font-weight: 600;
        font-size: 30px;
        line-height: 60px;
    }
    .headline__img{
        margin-left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .headline__mobile-info-text {
        background-image: url(../images/headline-moblie/Please-Visit-Desktop-SiteSection-Background.png);
        display: flex;
        width: 100% ;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
    .reviews{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

    }
    .review{
        box-sizing: border-box;
        margin: 0 auto 50px;
        width: 95%;
    }
    .review__main{
        max-width: 100px;
    }

    .workflow-all-steps{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .workflow-step{
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .workflow-step__header{
        display: flex;
        justify-content: space-between;
    }
    .workflow-step__dashed-line{
        content: "";
        position: absolute;
        height: 40px;
        width: 70px;
        border-right: 2px dashed #1968fc;
        border-top: none;
        top: -40px;
        left: 0;
    }
    .workflow-step:nth-child(3){
        margin-top: 40px;
    }
}

